// 常规字体大小设置
$fontA: 55px; //产品站大标题
$fontB: 48px; //产品站标题
$fontC: 22px; //产品重点字体，底部字体
$fontD: 18px; //导航标题及常规字体
$fontE: 32px; //资产钱包标题
$fontF: 16px; //常规字体
$fontG: 14px; //常规小字体

// 常规配色设置
$colorA: #90ff00; //用于需要突出和强调的文字、按钮和icon
$colorB: #90ff00; //主题色
$colorC: #333333; //常规字体颜色
$colorD: #F0F0F0;
$colorE: #252525;
$colorF: #B3B3B3;
$colorG: rgba(144, 255, 0, 1);
$colorH: rgba(37, 37, 37, 1);
$colorI: rgba(240, 240, 240, .7);
$colorJ: rgba(255, 255, 255, .7);
$colorK: rgba(27, 27, 27, 1);
$colorL: rgba(37, 37, 37, 0.5);

$bgColor: #ffffff;
$bgColorA: #F5F7FA;

$white: #fff;
$black: #000;

// 文字颜色
$default_color: #333;
$active_color: rgb(144, 255, 0);
$success_color: rgb(144, 255, 0);
$subtitle_color: #737373;
$rise_color: #0CBB57;
$fall_color: #ED3C2F;
$abandon_color: #FF7400;

// 文字大小
$h1: 72px;
$h2: 40px;
$h3: 20px;
$h4: 16px;
$h5: 14px;

// 背景色
$bg: #141414;
$card_bg: #1B1B1B;
$primary_bg: #90FF00;
$border_color: #252525;
$slide_color: #2B2B2B;