::v-deep .el-textarea__inner {
  height: 100px !important;
  border: 1px solid #f4f5f7;
}
::v-deep .el-form-item {
  margin-bottom: 0;
  &__error {
    width: 185px;
    text-align: right;
    margin-top: 15px;
    z-index: 99;
  }
}
.publish-ad {
  // width: 1400px;
  width: 100%;
  padding: 30px 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  .header-title {
    font-weight: 800;
    font-size: 28px;
    span {
      position: relative;
      &::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--theme-color);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
    }
  }
  li {
    width: 600px;
    font-size: 16px;
    .label {
      margin-bottom: 10px;
    }
    ::v-deep {
      .el-form-item__error {
        width: auto;
        margin: auto;
      }
      .el-form-item__content {
        margin-left: 0 !important;
        margin-bottom: 20px;
        border-radius: 6px;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        .el-input__inner {
          padding-left: 20px;
          border: none;
          background-color: #f5f7fa;
        }
        .el-select {
          width: 100%;
          .el-input__inner {
            padding-left: 20px;
            border: none;
            background-color: #f5f7fa;
          }
          .el-input__suffix {
            right: 5px !important;
          }
          .el-input .el-icon-arrow-up:before {
            font-family: "iconfont";
            content: "\e619";
            font-size: 20px;
          }
        }
      }
    }
    .normal-height {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
      padding-left: 20px;
      background-color: #f5f7fa;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
  }
  .prover {
    position: relative;
    width: 600px;
    font-size: 16px;
    .label {
      color: #333333;
      margin-bottom: 10px;
    }
    .pirce {
      position: absolute;
      top: 31px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      z-index: 1;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);

      ::v-deep .el-input__inner {
        border: none;
        height: 32px;
        text-align: center;
        background-color: #f5f7fa;
      }
    }
  }

  .paymentMethod {
    .no-pay {
      width: 100%;
      padding-left: 20px;
      background-color: #f5f7fa;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      .payName {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
        cursor: pointer;
        i {
          font-size: 20px;
          color: #C0C4CC;
        }
      }
      div {
        span {
          color: #90ff00;
          cursor: pointer;
        }
      }
    }
  }
  .remark {
    width: 100%;
    margin-top: 20px;
    ::v-deep {
      .el-textarea__inner {
        border: none;
        padding: 15px;
        background-color: #f5f7fa;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
      .el-input__count {
        background-color: #f5f7fa;
      }
    }
  }
  .btns {
    justify-content: flex-end;
    ::v-deep .my-button {
      height: 50px;
      width: 400px;
    }
  }
}

::v-deep .payMenuType {
  position: relative;
  .el-form-item__error {
    text-align: left;
  }
}

.atooltip {
  background: #eaeefe !important;
  color: #eaeefe !important;
  font-weight: 400;
  font-size: 12px;
  border: none !important;
  font-size: 11px !important;
  font-family: PingFang SC !important;
  font-weight: 400 !important;
  color: #333333 !important;
}

/* 修改箭头边框 */
.atooltip.el-tooltip__popper.is-dark[x-placement^="top"] .popper__arrow {
  border-top-color: #eaeefe !important;
  top: 4px !important;
}

.atooltip.el-tooltip__popper[x-placement^="top"] .popper__arrow {
  border-top-color: #eaeefe !important;
}

/* 修改箭头背景颜色 */
.el-tooltip__popper[x-placement^="top"] .popper__arrow {
  border-top-color: #eaeefe;
}

.el-tooltip__popper[x-placement^="top"] .popper__arrow:after {
  border-top-color: #eaeefe !important;
}
